* {
  font-family: "メイリオ", Meiryo, sans-serif;
  font-size: 18px;
}



#container {
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header {
  height: 52px;
  width: 100%;
  padding: 0px;
  border-bottom: rgb(170, 170, 170) 1px solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header span {
  margin: 0 8px;
}

#main {
  overflow: auto;
  height: calc(100% - 40px);
  width: 100%;
  padding: 8px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#main div {
  font-size: 24px;
}


#main_buttons {
  display: flex;
  justify-content: center;
}

#main_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 8px;
}

.odd {
  background: rgb(241, 240, 240);
}

.main_member {
  flex: 1;
  display: flex;
  text-wrap: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.main_item {
  flex: 1.5;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-wrap: nowrap;
}

.main_score_container {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_score_container div {
  margin: 0 14px;
}

.main_score {
  text-align: center;
  width: 40px;
  font-weight: 600;
}

#game_count {
  height: 28px;
}

#modal {
  padding: 10px 4px !important;
}

#modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-confirm-alert-overlay {
  display: flex;
  align-items: flex-start !important;
}

.react-confirm-alert-body {
  margin-top: 24px;
}


.table-wrap {
  overflow-x: scroll;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 4px 8px;
}

.result_name {
  width: 100px;
  position: sticky;
  top: 0;
  left: 0;
  border: 1px solid #ddd;
  background: white;
}

.gameMaster::before {
  color: #FFC93C;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  mask-image: var(--svg);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  font-size: 32px;
  --svg: url(https://api.iconify.design/lucide:crown.svg);
  content: '';
}

.sameItem {
  color: #FF5722;
}

.button_label {
  display: flex;
  align-items: center;
}


.button_label div {
  height: 24px;
  font-size: 18px !important;
}

.setting_container {
  margin-right: 10px;
  ;
}

.total {
  font-weight: bold;
  text-decoration-line: underline;
}


.cant_change_score span {
  visibility: hidden;
}

.abstention_member::before{
  color: #aaa;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  mask-image: var(--svg);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  font-size: 32px;
  --svg: url(https://api.iconify.design/lucide:flag-off.svg);
  content: '';
}

.total_num{
  text-align: center;
}